* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto;
    border: 2px solid black;
    height: 100vh;
    align-items: start;
    gap: 20px;
}

legend {
    font-size: 1.2em;
    color: rebeccapurple;
    font-weight: bold;
}

header {
    display: flex;
    grid-column: span 2;
    align-items: center;
    height: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#fieldsetleft {
    margin-left: 15px;
}

#fieldsetright {
    margin-right: 15px;
}

fieldset > label {
    font-weight: bold;
    padding-top: 10px;
}

fieldset > input, 
fieldset > div, 
fieldset > textarea, 
#category {
    margin: 5px 0px 5px 0px;
    width: 100%;
}

button {
    background-color: green;
    color: white;
    border-radius: 1em;
    height: 40px;
    margin-top: 15px;
    padding: 5px;
    border: 0;
}

#fieldsetright > div > input {
    margin-right: 10px;
}

